html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
header {
  overflow: hidden;
  padding: 40px;
}
header h1 {
  color: #60311b;
  font-size: 3.5em;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}
header h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}
sup {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.main-content {
  margin: 0 auto;
  line-height: 2;
  font-weight: 100;
}
.main-content > h1 {
  font-size: 2em;
  text-align: left;
}
.main-content > section {
  padding: 20px;
  margin: 0;
}
.main-content > section h1 {
  color: #ae6c49;
  font-size: 2em;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
ul.toc {
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: all 1s;
}
ul.toc li {
  margin: 0;
  overflow: hidden;
  position: relative;
  list-style: none;
}
ul.toc li a:before {
  content: '\261E';
  color: #60311b;
  font-size: 1.4em;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  transition: all 0.3s;
  transform: translateY(-50%);
  width: 55px;
}
ul.toc li a:hover:before {
  color: #fff;
  opacity: 1;
}
ul.toc li a {
  color: #60311b;
  display: block;
  padding: 10px 0 10px 65px;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s;
}
ul.toc li a:hover {
  background-color: #60311b;
  color: #fff;
  text-decoration: underline;
}
pre {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.btn,
input[type='submit'],
input[type='button'] {
  border-radius: 3px;
  background-color: #daab73;
  border-style: none;
  color: #60311b;
  padding: 10px 15px;
  font-size: 1.2em;
  min-width: 190px;
}
form label {
  float: left;
  margin-right: 10px;
  padding: 10px 0;
}

[type='email'],
[type='date'],
[type='time'],
[type='number'],
[type='text'] {
  border: none;
  border-radius: 3px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  display: block;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  margin: 0 0 20px 0;
  transition: all 0.3s;
  width: 100%;
}

/* Desktop */
@media (min-width: 1024px) {
  .main-content {
    width: 90%;
  }

  ul.toc li {
    float: left;
    width: 33.33333%;
  }
}

/*
  Validation
*/
.data-type,.data-required {
  transition: all 0.3s;
}
.valid,
.invalid {
  border-radius: 3px;
}
.valid {
  background-color: #80a147;
  border: 1px solid #556b2f;
  color: #fff;
}
.invalid {
  background-color: #b00;
  border: 1px solid #6b2f2f;
  color: #fff;
}
