body {
  background-color: #783B0B;
  color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
header {
  border-top: solid 8px #fff;
  margin-top: 60px;
}
header h1 {
  background-color: #783B0B;
  font-size: 3.5em;
  font-weight: 900;
  padding: 0 40px;
  text-align: center;
  margin: -37px auto 0;
  width: 420px;
}
header h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}
.main-content {
  width: 90%;
  min-width: 1024px;
  margin: 0 auto;
  font-style: 0.9em;
  line-height: 2;
  color: #fff;
  font-weight: 100;
  padding: 40px;
}
.main-content > h1 {
  font-size: 2em;
  text-align: left;
}
.main-content > section {
  color: #111;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px 40px;
  margin: 0 0 60px 0;
}
.main-content > section h1 {
  font-size: 2em;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
.main-content > section input {
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  margin: 0 0 20px 0;
  width: 340px;
}
ul.toc {
  padding: 0;
  margin: 0 0 100px 0;
  overflow: hidden;
}
ul.toc li {
  float: left;
  padding: 0 0 5px 80px;
  position: relative;
  margin: 0;
  list-style: none;
  width: 40%;
}
ul.toc li:before {
  content: '\261E';
  font-size: 2em;
  position: absolute;
  left: 0;
  top: 50%;
  transition: left 0.3s;
  transform: translateY(-50%);
}
ul.toc li:hover:before {
  left: 35px;
}
ul.toc li a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}
ul.toc li a:hover {
  text-decoration: underline;
}
pre {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
