body {
  background-color: #783B0B;
  color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
header {
  border-top: 8px solid #fff;
  margin-top: 60px;
}
header h1 {
  background-color: #783B0B;
  font-size: 3.5em;
  font-weight: 900;
  padding: 0 40px;
  text-align: center;
  margin: -37px auto 0;
  width: 420px;
}
header h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}
.main-content {
  width: 90%;
  min-width: 1024px;
  margin: 0 auto;
  font-style: 0.9em;
  line-height: 2;
  color: #fff;
  font-weight: 100;
  padding: 40px;
}
.main-content > h1 {
  font-size: 2em;
  text-align: left;
}
.main-content > section {
  color: #111;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px 40px;
  margin: 0 0 60px 0;
}
.main-content > section h1 {
  font-size: 2em;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
ul.toc {
  padding: 0;
  margin: 0 0 100px 0;
  overflow: hidden;
}
ul.toc li {
  float: left;
  padding: 0 0 5px 80px;
  position: relative;
  margin: 0;
  list-style: none;
  width: 40%;
}
ul.toc li:before {
  content: '\261E';
  font-size: 2em;
  position: absolute;
  left: 0;
  top: 50%;
  transition: left 0.3s;
  transform: translateY(-50%);
}
ul.toc li:hover:before {
  left: 35px;
}
ul.toc li a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}
ul.toc li a:hover {
  text-decoration: underline;
}
pre {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.btn,
input[type='submit'],
input[type='button'] {
  border-radius: 3px;
  background-color: #783B0B;
  border-style: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.2em;
  min-width: 190px;
}
form label {
  float: left;
  margin-right: 10px;
  padding: 10px 0;
}

[type='email'],
[type='date'],
[type='time'],
[type='number'],
[type='text'] {
  border: none;
  border-radius: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  display: block;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  margin: 0 0 20px 0;
  transition: all 0.3s;
  width: 340px;
}

/*
  Sturdy Classes
*/
.data-sturdy-val {
  transition: all 0.3s;
}
.sturdy-val-success,
.sturdy-val-error {
  border-radius: 3px;
  color: #fff !important;
}
.sturdy-val-success {
  background-color: #80a147;
  border: 1px solid #556b2f;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}
.sturdy-val-error {
  background-color: #a14747;
  border: 1px solid #6b2f2f;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}
